.sucesso__cadastroProduto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 25px rgb(170, 170, 170);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.sucesso__cadastroProduto img {
    width: 80px;
    padding-top: 2rem;
}

.sucesso__cadastroProduto h2 {
    padding: 2rem;
}

.sucesso__cadastroProduto button {
    width: 30%;
    padding: .5rem;
    margin-top: 20px;
    background-color: var(--cor-botao);
    color: white;
    border: 1px solid var(--cor-botao);
    transition: .3s ease-in-out;
}

.sucesso__cadastroProduto button:hover {
    background-color: white;
    color: var(--cor-botao);
}