.topo__logoBusca {
    display: flex;
}

@media screen and (min-width: 386px) {
    .topo__logoBusca {
        flex-direction: column;
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 775px) {
    .topo__logoBusca {
        flex-direction: row;
        padding-bottom: 0;
        align-items: center;
    }
}