.rodape {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
  height: 100px;
}

@media screen and (min-width: 0) {
  .rodape {
    display: flex;
    text-align: center;
  }
}